* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; /* stack button + container vertically */
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  height: 100vh; /* full screen height */
  margin: 0;
}

#gridBtn {
  width: 200px;
  height: 30px;
}

.allcol {
  border: 1px solid black;
  flex: 1;
}

#container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}
